<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-widht, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{familia.nombre}}
<br>
{{familia.documento}}
<br>
{{familia.fecha_nacimiento}}
<br>
{{familia1.nombre1}}
<br>
{{familia1.documento1}}
<br>
{{familia1.fecha_nacimiento1}}
<br>
{{familia2.nombre2}}
<br>
{{familia2.documento2}}
<br>
{{familia2.fecha_nacimiento2}}
<br>
</body>
</html>